body{
    background: black;
    width: 100%;
    color:white;
    text-align: center;
}
.header{
    margin-top:3%;
}
.container{
    height: 100%;
}
section{
    border-bottom: 2px solid white;
}
#word{
    font-size: 40px;
}
